{% extends 'base.html' %}
{% block content %}
        <div id="center-box">
            <div id="login_part">
                <h3>Login</h3>
                <form action="/action_page.php">
                <input type="text" name="username" placeholder="Username"><br><br>
                <input type="password" name="password" placeholder="Password"><br><br>
                <input type="submit" value="Submit">
                </form>
            </div>
            <div id="sign_up_part">
                <h3>SignUp</h3>
                <form class="form_create_account" action=" url {{'create_account'}}" method="post">
                <input type="text" name="username" placeholder="Username"><br><br>
                <input type="password" name="password" placeholder="Password"><br><br>
                <input type="submit" value="Submit">
                </form>
            </div>
        </div>
{% endblock %}