{% extends 'base.html' %}
{% block content %}

    <!-- History div -->
    {% include 'history/history_bar.html' %}

    <!-- Main div // Item detail box -->
    <div id="itemdet-container">
        <div id="itemdet-upper">
            <div id="itemdet-image-container">
                <img src="{{ item.items_image_set.first.image_link }}"
                     alt="Image of {{  item.name  }}"
                     id="itemdet-img"
                     width="240px"
                     height="348px">
            </div>
            <div id="itemdet-product">

                <div id="itemdet-title">
                    <h1>{{  item.name  }}</h1>
                    <p><strong>Price: {{  item.price  }} kr</strong></p>
                    <p>PID: {{  item.id  }}</p> <!-- Product ID -->
                    <p>Stock left: [int]</p>
                </div>

            </div>
            <div id="itemdet-description">
                <h2>Description</h2>
                <p>{{ item.description }}</p>
                <h3>Type</h3>
                <div id="itemdet-type">
                    <img src="{{ item.type.image }}"
                         alt="Icon of {{ item.type.name }}"
                         width="30px"
                         height="30px">
                    <p>{{ item.type.name }}</p>
                </div>
            </div>
        </div>
        <div id="itemdet-lower">
            <div id="itemdet-buttons">
                <div id="itemdet-add-to-bask-div">
                    <button id="itemdet-b-add-to-bask">Add to basket</button>
                </div>
                <div id="itemdet-quantity-val-div">
                    <h2>0</h2>
                </div>
                <div id="itemdet-quantity-buttons-div">
                    <button id="itemdet-b-inc">+</button>
                    <button id="itemdet-b-dec">-</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Basket div -->
    {% include 'basket_button.html' %}

{% endblock %}