{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ship O'Cereal</title>
    <link rel="stylesheet" href="{% static 'style/baseSheet.css' %}">
</head>
<body>
    {% include 'nav.html' %}
    {% block content %}
    {% endblock %}

<!-- Main container -->
<div id="main-container">
    <!-- History div-->
    {% include 'History_bar.html' %}
    <!-- Catalogue div -->
    <div id="center-div">
    </div>
    <!-- Basket div -->
    {% include 'Basket_bar.html' %}
</div>





</body>
</html>