div {
    border: 1px solid black;
}

#main-container {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#search-history {
    background-color: chocolate;
    width: 10%;
}

#catalogue {
    background-color: cyan;
    margin-top: 5%;
    width: 60%;
    height: 700px;
}

#catalogue-list {
    background-color: darkgrey;
    width: 60%;
    height: 70%;
    margin: auto;
    margin-top: 197px;
}



#basket {
    background-color: darkred;
    width: 10%;
}