div {
}

#main-container {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#search-history {
    position: fixed;
    top: 150px;
    left:50px;
    background-color: #b5afb9;
    width: 10%;
    height: 600px;
}

#search-history-title {
    background-color: #bc8dc0;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 1px;
    font-size: 24px;
    color: white;
}

#search-history-title p {
    margin-top: 10px;
}

#center-box {
    background-color: #abc3df;
    position: relative;
    top: 50px;
    width: 70%;
    height: 1000px;
    margin: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#catalogue-list {
    width: 90%;
    height: 75%;
    margin: auto;
    float: top;
}
#searchbar {
    background-color: #7fa7da;
    width: 100%;
    height: 100px;
    margin: auto;
    float: top;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


#basket {
    background-color: #bc8dc0;
    position: fixed;
    bottom: 10px;
    right:50px;
    width: 10%;
    margin-right: auto;
    height: 150px;
    border-radius: 10px;
}
.single_item {
    width: 200px;
    height: 350px;
    background-color:#7fa7da;
    display: inline-block;
    margin-right: 50px;
    border-radius: 25px;
     text-align: center;
    text-decoration: none;
    font-size: 1.5em;

}
img {
  width: 200px;
  height: 300px;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}
img:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.title {
    margin-bottom: -50px;
}

#login_part {
    width: 50%;
    float: left;
    margin: auto;
    border-right: 5px solid white;
    margin-top: 200px;
}
#sign_up_part {
    width: 40%;
    float: right;
    margin: auto;
    margin-top: 200px;
}

