/* COLOR CONSTANTS */
:root {
    /* Colors from Material-UI palette (https://material-ui.com/customization/color/)
       Use colors by writing ' color: var(--color); '*/

    --blue: #42A5F5;			/* blue 400 */
    --blue-dark: #1976D2;		/* blue 700 */
    --blue-grey: #CFD8DC;		/* blueGrey 100 */
    --black: #263238;			/* blueGrey 900 */
    --purple: #CE93D8;			/* purple 200 */
    --purple-dark: #BA68C8;     /* purple 300 */
    --purple-darker: #AB47BC;   /* purple 400 */
    --green: #8BC34A;           /* green 500 */
    --grey: #EEEEEE;			/* grey 200 */
    --grey-dark: #757575;       /* grey 600 */

    --white: #FFFFFF;			/* default */
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

div {
    display: flex;
}

#main-container {
    flex-grow: 1;
    justify-content: center;

}

#footer-container {
    background-color: #1976D2;
    color: #FFFFFF;
    padding-left: 50px;
    flex-direction: column;
}
#footer-div p {
    margin-top: 10px;
    margin-bottom: 10px;
}

















/*

h3 {
    color: white;
    font-size: 30px;
}

#main-container {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#search-history {
    position: fixed;
    top: 150px;
    left:50px;
    background-color: #b5afb9;
    width: 10%;
    height: 600px;
}

#search-history-title {
    background-color: #bc8dc0;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 1px;
    font-size: 24px;
    color: white;
}

#search-history-title p {
    margin-top: 10px;
}

#center-box {
    background-color: #abc3df;
    position: relative;
    top: 50px;
    width: 70%;
    height: 100%;
    margin: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#catalogue-list {
    width: 90%;
    height: 100%;
    margin: auto;
    float: top;
    text-align: center;
}
#searchbar {
    background-color: #7fa7da;
    width: 100%;
    height: 100px;
    margin: auto;
    float: top;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


#basket {
    background-color: #bc8dc0;
    position: fixed;
    bottom: 10px;
    right:50px;
    width: 10%;
    margin-right: auto;
    height: 150px;
    border-radius: 10px;
}



.single_item {
    width: 20%;
    height: 350px;
    background-color:#7fa7da;
    display: inline-block;
    margin-right: 95px;
    margin-top: 50px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;

}
.imgFrontPage {
  width: 100%;
  height: 300px;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.imgFrontPage:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.title {
    margin-bottom: -50px;
    text-transform:capitalize;
}

#login_part {
    width: 40%;
    float: left;
    margin-left: 100px;
    border-right: 5px solid white;
    margin-top: 200px;
}
#sign_up_part {
    width: 40%;
    float: left;
    margin-left: 80px;
    margin-top: 200px;
}

input, select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 60%;
    background-color: #3dd9e5;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    margin-left: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4dade5;
}*/
