#order-container {
    flex-direction: column;
    background-color: var(--grey);
    margin: 75px 0 30px 0;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}

#order-container h1 {
    margin: 0 0 30px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--blue-dark);
}

#order-links {
    flex-direction: column;
}

#order-links a {
    border-radius: 5px;
    height: 20px;
    text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 10px;
    margin-bottom: 15px;
    font-weight: bold;
    transition: background-color 0.2s;
}

#order-links a:hover {
    background-color: var(--blue-dark);
}

#order-links a:nth-child(even) {
    background-color: var(--blue-light);
}

#order-links a:nth-child(even):hover {
    background-color: var(--blue-dark);
}

#orders-empty {
    text-align: center;
    color: var(--grey-dark);
}

#order-green {
    color: #8BC34A;
}