body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #619EE7;
    color: #FFF;

    display: flex;
    padding: 10px 30px;
}

.header a {
    color: #FFF;
    text-decoration: none;
}


/* --------- */

.nav-logo {
    display: flex;
    align-items: center;
}

#logo-anchor {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 3px solid #557EAF;
}

#logo-svg {
    height: 32px;
    width: 32px;
}

.nav-logo img {
    padding-right: 20px;
}




.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.curr-page {
    font-size: 0.9rem;
    color: #e2def5;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-list li {
    margin-left: 30px;
}

#log-out {
    font-weight: 700;
}