#nav {
    flex-grow: 1;
    background-color: var(--blue);
    justify-content: space-between;
    height: 110px;
}

#nav a {
    text-decoration: none;
    color: var(--white);
}

#nav-logo {
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-right: 2px solid var(--blue-dark);
}

#nav-logo div {
    align-items: center;
}

#nav-logo h1 {
    padding-left: 25px;
}

#nav-list-container {
    align-items: center;
}

#nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-list a {
    font-size: 1.2rem;
    margin-right: 40px;
}

#nav-list a:hover {
    color: var(--grey);
}

#nav-account {
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
}

#nav-account p {
    margin: 0;
    padding-top: 5px;
    max-width: 20ch;
}

#nav-account img {
    border-radius: 5px;
}