#nav {
    flex-grow: 1;
    background-color: var(--blue);
    justify-content: space-between;
    height: 110px;
}

#nav a {
    text-decoration: none;
    color: var(--white);
}


/* AA */
#nav-logo {
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-right: 2px solid var(--blue-dark);
}

#nav-logo div {
    align-items: center;
}

#nav-logo h1 {
    padding-left: 25px;
}


/* AB */
#nav-current-page {
    align-items: center;
    flex-grow: 1;
    padding-left: 40px;
}

#nav-current-page a {
    font-size: 1.3rem;
    font-weight: bold;
}


/* AC */
#nav-list-container {
    align-items: center;
}

#nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-list a {
    font-size: 1.2rem;
    margin-right: 40px;
}

#nav-list a:hover {
    color: var(--grey);
}