#cat-search-container {
    flex-direction: column;
    margin-top: 75px;
    padding: 0 20px;
    background-color: var(--blue-grey);
    border-radius: 10px 10px 0 0;
}

#cat-search-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 150px;

}

#cat-search-empty {
    margin-top: 0;
    color: var(--red);
    font-weight: bold;
}

#cat-search-title h2 {
    color: var(--white);
    margin: 20px 0 0 0;
}



#cat-search-input {
    margin: 10px 0;
}

#cat-search-box {
    display: flex;
    flex-grow: 1;
    height: 35px;
    border: none;
    border-radius: 5px;
}

#cat-search-box::placeholder {
    padding-left: 10px;
}

/* todo: make input text have padding */

.cat-search-button {
    width: 100px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: var(--grey);
    border:none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cat-search-button:hover {
    background-color: var(--white);
}



#cat-search-filters {
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
}

#cat-search-f-type label {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

#cat-search-f-type label input {
    cursor: pointer;
}

#cat-search-f-sort p {
    margin: 0;
    padding-right: 5px;
}

#cat-search-f-name, #cat-search-f-price {
    background-color: var(--purple);
    color: var(--white);
}

#cat-search-f-name:hover, #cat-search-f-price:hover {
    background-color: var(--white);
    color: var(--black);
}