{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ship O'Cereal</title>
    <link rel="icon" href="{% static 'images/icon.png' %}">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- CSS Files -->
    {% include 'css_links.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div id="main-container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/core.js"></script>

    <!-- JS Files -->
    <script src="{% static 'js/items.js' %}"></script>
    {% include 'js_links.html' %}
</body>
</html>