{% load static %}

<!-- CSS files -->
    <!-- Main -->
    <link rel="stylesheet" href="{% static 'style/baseSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/navSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/extensionsSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/footerSheet.css' %}">

    <!-- Other -->
    <link rel="stylesheet" href="{% static 'style/accountSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/basketPageSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/catalogueSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/checkoutSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/itemDetailSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/myAccountSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/myOrdersSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/reviewSheet.css' %}">
    <link rel="stylesheet" href="{% static 'style/searchSheet.css' %}">