<div id ="footer-container">

    <div id="footer-desc">
        <h2>Verklegt námskeið 2</h2>
        <p>Vor 2021<span id="footer-b"> | </span>Hópur 25</p>
    </div>

    <div id="footer-members">
        <div class="footer-member">
            <h5>Arnór Ingi Grétarsson</h5>
            <a href="#">arnorg20@ru.is</a>
        </div>
        <div class="footer-member">
            <h5>Arnór Ingi Kárason</h5>
            <a href="#">arnork20@ru.is</a>
        </div>
        <div class="footer-member">
            <h5>Páll Grétar Jónsson</h5>
            <a href="#">pall20@ru.is</a>
        </div>
        <div class="footer-member" id="footer-end">
            <h5>Rögnvaldur Bjarnason</h5>
            <a href="#">rognvaldur20@ru.is</a>
        </div>
    </div>

</div>