{% load static %}

<div id="nav">
    <!-- AA | Logo container -->
    <a href="/" id="nav-logo">
        <div>
            <img src="{% static 'images/logo.svg' %}"
                 alt="Ship O'Cereal Logo"
                 width="35"
                 height="35px">
            <h1>Ship O'Cereal</h1>
        </div>
    </a>
    <div>
        {% if user.is_authenticated %}
                <img src="{{ user.user.image }}"/>
                <a href="{% url 'profile' %}"><h2 style="text-transform: capitalize;">{{ user.username }}</h2></a>
        {% endif %}
    </div>

    <!-- AB | List of links -->
    <div id="nav-list-container">
        <ul id="nav-list">
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">My account</a></li>
                <li><a href="{% url 'logout' %}"><strong>Log out</strong></a></li>
            {% else %}
                {% if request.path != '/account/login'%}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
                {% if request.path != '/account/register' %}
                    <li><a href="{% url 'register' %}"><strong>Sign up</strong></a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>

</div>