{% load static %}

<div id="nav">
    <!-- AA | Logo container -->
    <a href="/" id="nav-logo">
        <div>
            <img src="{% static 'images/logo.svg' %}"
                 alt="Ship O'Cereal Logo"
                 width="35"
                 height="35px">
            <h1>Ship O'Cereal</h1>
        </div>
    </a>

    <!-- AB | Current page title -->
    <div id="nav-current-page">
        <a href="#">Catalogue</a> <!-- FIXME -->
    </div>

    <!-- AC | List of links -->
    <div id="nav-list-container">
        <ul id="nav-list">
            {% if user.is_authenticated %}
                <li><a href="#">My Account</a></li>
                <li><a href="{% url 'logout' %}"><strong>Log out</strong></a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'logout' %}"><strong>Sign up</strong></a></li> <!-- FIXME -->
            {% endif %}
        </ul>
    </div>

</div>