{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style/navSheet.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Ship O'Cereal</title>
</head>
<body>
    <div class="header">
        <a href="/" id="logo-anchor">
            <div class="nav-logo">
                <img src="{% static 'images/logo.svg' %}" alt="Ship O'Cereal Logo" id="logo-svg">
                <h1>Ship O'Cereal</h1>
            </div>
        </a>

        <div class="nav-container">
            <div class="curr-page">
                <h2>Catalogue</h2>
            </div>
            <div>
                <ul class="nav-list">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#" id="log-out">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>