{% extends 'base.html' %}
{% block content %}
    <div id="basket-container">
        {% for item in basket %}
            {% include 'basket/basket_item.html' with bitem=item%}
        {% endfor %}
    </div>
    <div id="review-container">
        <h1>Review</h1>
        <p>{{ purches_info.firstName }}</p>
        <p>{{ purches_info.lastName }}</p>
        <p>{{ purches_info.streetName }}</p>
        <p>{{ purches_info.streetNumber }}</p>
        <p>{{ purches_info.city }}</p>
        <p>{{ purches_info.country }}</p>
        <p>{{ purches_info.zip }}</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit">
        </form>
    </div>
    <form>

    </form>
{% endblock %}