<div class="rev-item">

    <!-- Image of the item -->
    <a href="/product-info/{{ citem.items.id }}">
        <img src="{{ citem.items.items_image_set.first.image_link}}"
             alt="Image of {{ citem.items.name }}"
             class="rev-item-img"
             width="100px"
             height="150x">
    </a>

    <!-- Details about the item -->
    <div class="rev-item-desc">
        <h4>{{ citem.items.name }}</h4>
        <p>Qty: {{ citem.quantity|floatformat }}</p>
        <p>Price: {% widthratio citem.items.price 1 citem.quantity %} kr.</p>
    </div>

</div>