{% extends 'base.html' %}
{% block content %}
    <!-- Main div // Item detail box -->
    <div id="basket-container">
        {% for item in basket %}
            {% include 'basket/basket_item.html' with bitem=item%}
        {% endfor %}
    </div>
    <div id="review-container">
        <h1>Are you Sure about buying this unhealthy crap?</h1>
        <form method="post">
            {% csrf_token %}
            <input type="submit">
        </form>
    </div>
    <form>

    </form>
{% endblock %}