{% extends 'base.html' %}
{% block content %}

    <div id="order-container">
        <!-- If you are sent from the purchase screen, success will be displayed -->
        {% if success == True %}
            <h3 id="order-green">Success! Your order is now on the way.</h3>
        {% endif %}

        <h1>My purchase history</h1>
        <div id="order-links">
            {% if orders|length == 0 %}
                <p id="orders-empty">No orders yet! Your overviews will appear here after purchasing.</p>
            {% endif %}

            {% for order in orders %}
                {% if order.confirmed == True %}
                    <a href="/checkout/review/{{ order.id }}">Order nr: {{ order.id }} - Confirmed purchase</a>
                    {% else %}
                    <a href="/checkout/review/{{ order.id }}">Order nr: {{ order.id }} - Waiting conformation</a>
                {%  endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}