
{% extends 'base.html' %}
{% block content %}
        <!-- History div-->
        {% include 'History_barOLD.html' %}
        <!-- Catalogue div -->
        <div id="center-box">
            <!-- Search section div -->
            <div id="searchbar">

            </div>
            <!-- Catalogue list div -->
            <div id="catalogue-list">
                {% for item in Items %}
                    {% include 'catalogue/catalogue_item.html' with item=item%}
                {% endfor %}
            </div>
        </div>
        <!-- Basket div -->
        {% include 'Basket_bar.html' %}
{% endblock %}