{% extends 'base.html' %}
{% block content %}

    <!-- History div-->
    {% include 'history_bar.html' %}

    <!-- Catalogue div -->
    <div id="cat-container">
        <div id="cat-search-container">
            <h2>Search</h2>
            <form action=None onsubmit="myFunction()">
                <input type="search" id="search-box" placeholder="Enter item name here...">
                <input type="radio" name="type-radio"  value="1" onclick="search_items()">
                <label for="type">Sugary</label><br>
                <input type="radio" name="type-radio" value="2" onclick="search_items()">
                <label for="type">Vegan</label><br>
                <input type="radio" name="type-radio" value="3" onclick="search_items()">
                <label for="type">Healthy</label>
                <input type="radio" name="type-radio" value="4" onclick="search_items()">
                <label for="type">Low-Carb</label>
                <input type="submit" value="Search">
            </form>
        </div>

        <div id="cat-list">
            {% for item in Items %}
                {% include 'catalogue/catalogue_item.html' with item=item%}
            {% endfor %}
        </div>
    </div>

    <!-- Basket div -->
    {% include 'basket_button.html' %}

{% endblock %}