{% extends 'base.html' %}
{% block content %}

    <!-- View history -->
    {% if user.is_authenticated %}
        {% include 'history/history_bar.html' %}
    {% endif %}

    <!-- Catalogue (main container) -->
    <div id="cat-container">
        <div id="cat-search-container">
            {% include 'catalogue/catalogue_search.html' %}

            {% if Items|length == 0 %}
                <p id="cat-search-empty">No products match your search conditions. Please try again.</p>
            {% endif %}
        </div>

        <div id="cat-list">
            {% for item in Items %}
                {% include 'catalogue/catalogue_item.html' with item=item%}
            {% endfor %}
        </div>
    </div>

    <!-- Basket div -->
    {% if user.is_authenticated %}
        {% include 'basket_button.html' with basket=basket%}
    {% endif %}

{% endblock %}