{% extends 'base.html' %}
{% block content %}

    <!-- History div-->
    {% include 'history_bar.html' %}

    <!-- Catalogue div -->
    <div id="cat-container">
        <div id="cat-search-container">
            <h2>Search</h2>
            <form>
                <input type="search" id="search-box" placeholder="Enter item name here...">
                <input type="radio" id="radio-sugary" name="gender" value="male">
                <label for="radio-sugary">Sugary</label><br>
                <input type="radio" id="radio-vegan" name="gender" value="female">
                <label for="female">Vegan</label><br>
                <input type="radio" id="radio-healthy" name="gender" value="other">
                <label for="other">Healthy</label>
                <input type="radio" id="radio-low-carb" name="gender" value="other">
                <label for="other">Low-Carb</label>
            </form>
            <button onclick="search_items()">Search</button>
        </div>

        <div id="cat-list">
            {% for item in Items %}
                {% include 'catalogue/catalogue_item.html' with item=item%}
            {% endfor %}
        </div>
    </div>

    <!-- Basket div -->
    {% include 'basket_button.html' %}

{% endblock %}